body {
  padding: 0;
  margin: 0; }

#banner {
  height: 50vh;
  width: 100%;
  background-color: grey;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  font-size: 3em;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(25%);
  filter: grayscale(25%);
  cursor: default; }

#content {
  width: calc(100% - 10vw);
  height: 150vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  overflow-y: hidden;
  padding: 0 5vw 0 5vw;
  background-color: whitesmoke; }

.body-text {
  margin-top: 10vh;
  width: 33vw;
  height: auto; }

.body-text-right {
  margin-left: 33vw; }

#arrow-decorator {
  position: absolute;
  top: -2vw;
  width: 4vw;
  height: 4vw;
  background-color: lightgrey;
  border-radius: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

#arrow-decorator-png {
  margin-top: 40%; }
